
body {
  display: flex;
  background-image: linear-gradient(236deg, #741bd5, #acacac);
  justify-content: center;
  align-items: center;
  height: 100px;
  height:100%;
  width:100%;
  z-index:9999;
  margin-top:0px;
  position:absolute;
  top:0;
  right:0;
  display:flex;
  justify-content:center;
  align-items:center;
}
